@page
@model IndexModel
@{
	ViewData["Title"] = "Home work 4";
}

<h1>Welcome to Home work 4</h1>

<section id="about-main">
	<h1>Some information about me:</h1>
	<p>
		Working,
		Learning,
		Sleeping
	</p>
</section>