@page
@model HomeWork4.Pages.MyPages.AboutMeModel
@{
	ViewData["Title"] = "About Me";
}

<section id="about-main">
	<h1>Some information about me:</h1>
	<p>
		Working,
		Learning,
		Sleeping
	</p>

</section>
